@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* { box-sizing: border-box; }



body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
.wrap {

	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	padding: 0px;
}

.banner_carousel {
	position: relative;
	height: auto;
}
.banner_carousel::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	/* background: rgba(0, 0, 0, 0.5); */
	/* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)); */
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
	width: 100%;
	height: 100px;
}
.carousel-image{
	height: 100vh;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.banner_carousel--indicator{
	margin: 0 7px !important;
	background-color: #fff !important;
	transition: .3s ease;
	height: 4px !important;
	cursor: pointer;
}
.banner_carousel--indicator.active{
	margin: 0 7px !important;
	background-color: #FFD558 !important;
	transform: scaleX(1.3);
}
.carousel-control-next, .carousel-control-prev {
	z-index: 10;
	width: auto;
}
.carousel_arrow--left, .carousel_arrow--right{
	height: 50px;
}
.carousel_arrow--left{
	left: 0;
}

.banner_brand-image{
	max-height: 70px;
}
.navbar-brand {
  padding: 5px;
}
.banner_brand-image{
	/* opacity: 1;
	transition:opacity 0.5s linear; */
	transition: opacity .2s linear;
	opacity: 1;
}
.brand_image--hide{
	opacity: 0;
	height: 0;
	width: 0;
}

.banner_navigation{
	position: absolute;
	z-index: 20;
	display: block;
	width: 100%;
	height: 100px;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
	-webkit-transition: height .3s; /* Safari */
	transition: height .3s;
}

.nav-scrolled {
	height: 76px;
	-webkit-transition: height .3s; /* Safari */
	transition: height .3s;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3)
}
.nav-scrolled .banner_brand-image{
	height: 50px;
}
.nav-scrolled.banner_navigation{
	background: #fff;
}


/* .about_background{
	width: 100%;
	height: auto;
	object-fit: cover;
} */
.about_background{
	background: url('../images/about-bg.png') no-repeat;
	background-size: contain;
	width: 100%;
	height: auto;
	z-index: -100;
}
.about_background::after{
	padding-top: 76%;
	display: block;
	content: '';
}
.about_plane--large {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 60%;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 10;
}
/* .about_plane {
	position: absolute;
	top: 54%;
	left: 20%;
	width: 60%;
	height: auto;
	z-index: 10;
	scroll-behavior: smooth;
} */
.about_plane {
	position: absolute;
	top: 54%;
	left: 6%;
	width: 60%;
	height: auto;
	/* transform: translate(-50%, -50%); */
	z-index: 10;
	scroll-behavior: smooth;
}

.about_content--column{
	position: relative;
	margin-left: -90px;
	height: auto;
	min-height: 400px;
}
.about_plane--md{
	position: absolute;
	width: 50%;
	height: auto;
	top: 50%;
	transform: translate(-20%, -50%);
}
.about_content {
	position: absolute;
	top: 40%;
	transform: translate(0, -50%);
	color: #2C2C2A;
}
.about_content--title {
	display: inline-block;
	position: relative;
	font-size: 40px;
	font-weight: bold;
	color: #2C2C2A;
	padding: 20px 0;
}
.about_content--title::after {
	content: '';
	height: 68px;
	width: 106px;
	transform-origin: left;
	transform: scaleX(1);
	position: absolute;
	z-index: -10;
	background-color: #FFD558;
	left: -40px;
	top: 10px;
	transition: .7s linear;
}

.about_content>p {
	font-size: 14px;
	line-height: 24px;
	width: 480px;
}

.about_subtitle-bgcolor{
	position: relative;
	display: block;
	width: 100%;
	height: 56px;
	z-index: 10
}
.about_subtitle-bgcolor::after{
	content: '';
	position: absolute;
	/* display: block; */
	width: 100px;
	transform: scale(1);
	left: -30px;
	height: 100%;
	background: #FFD558;
	transform-origin: left;
	transition: .7s linear;
}
.scrolled_title::after{
	content: '';
	transform: scaleX(1.2);
	/* background-color: black; */
}
.about_subtitle {
	font-size: 30px;
	font-weight: bold;
	color: #2C2C2A;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
/* .about_subtitle::after {
	content: '';
	width: 65%;
	height: 56px;
	position: absolute;
	z-index: -10;
	background-color: #FFD558;
	left: -40px;
	top: 10px;
} */
.about_objective-content{
	width: auto;
	max-width: 600px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #2C2C2A;
}
.about_objective {
	background-image: url('../images/icons/objective-icon.svg');
	background-position: 105% 100%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: -15%;
	padding-top: 15%;
	margin-bottom: -20%;
	padding-bottom: 20%;
	position: relative;
	z-index: -10;
	/* height: 700px; */
}

.activities_carousel{
	position: relative;
	background: url('../images/carousel-picture1.jpg') no-repeat center center;
	background-size: cover;
	min-height: 450px;
	height: 60vh;
	padding: 40px 0;
}
.activities_carousel::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.activities_title{
	position: absolute;
	width: auto;
}
.activities_container{
	/* max-width: 900px; */
	width: 50%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.activities_carousel>.carousel-inner{
	height: 100%;
}
.activities_carousel>.carousel-inner>.carousel-item{
	height: 100%;
}
.activities_number{
	font-size: 30px;
	opacity: .5;
	font-weight: bold;
	margin-bottom: 20px;
}
.activities_content {
	line-height: 24px;
	font-weight: 14px;
}
.activities_carousel--indicator {
	cursor: pointer;
}

.representation {
	/* height: 100vh; */
	background-color: #ECEBE6;
}
.representation-image-container{
	width: 100%;
	height: 150px;
	padding: 40px;
	position: relative;
	/* border: 1px solid black; */
}
.representation-overlay{
	position: absolute;
	left: 0;
	top: 0;
	transform:  scale(0.5);
	background-color: rgba(255, 213, 88, 0.92);
	width: 100%;
	height: 100%;
	padding: 15px;
	opacity: 0;
	transition: all .3s ease-in-out;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}
.representation-overlay:hover{
	opacity: 1;
	transform: scale(1);
}
.representation-image{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.content--title {
	display: inline-block;
	position: relative;
	font-size: 40px;
	font-weight: bold;
	color: #2C2C2A;
	margin-bottom: 10px;
}
.content {
	display: block;
	font-size: 14px;
	line-height: 24px;
}
.government-project {
	color: #fff;
	min-height: 400px;
	background: url('../images/light-bg.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;
	position: relative;
}
.government-project::after {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.government-project-contents{
	position: relative;
	z-index: 10;
}
.contact-us{
	height: 40vh;
	min-height: 290px;
	background-image: url('../images/map.svg');
	background-repeat: no-repeat;
	background-position: 80% center;
	background-color: #ECEBE6;
	background-size: 30% ;
}
.copyright {
	color: #2C2C2A;
	background-color: #ECEBE6;
}


@media screen and (max-width: 991px) {
	/* Overlay style */
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(255,213,88,1);
		border-radius: 0;
	}

	/* Overlay closing cross */
	.overlay .overlay-close {
		width: 40px;
		height: 40px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url(../images/cross.png) no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;
	}

	.overlay-toggler-button {
		background: transparent;
		border: 0;
	}

	/* Menu style */
	.overlay .overlay-navigation {
		text-align: center;
		position: relative;
		top: 50%;
		height: 60%;
		font-size: 30px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		position: relative;
	}

	.overlay ul li {
		display: block;
		height: 20%;
		height: calc(100% / 5);
		min-height: 54px;
	}

	.overlay ul li a {
		font-weight: 300;
		display: block;
		color: rgba(255, 255, 255, 0.7);
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}

	.overlay ul li a:hover,
	.overlay ul li a:focus {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}

	/* Effects */
	.overlay-hugeinc {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
		transition: opacity 0.3s, visibility 0s 0.3s;
	}

	.overlay-hugeinc.open {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}

	.overlay-hugeinc .overlay-navigation {
		-webkit-perspective: 1200px;
		perspective: 1200px;
	}

	.overlay-hugeinc .overlay-navigation ul {
		opacity: 0.4;
		-webkit-transform: translateY(-25%) rotateX(35deg);
		transform: translateY(-25%) rotateX(35deg);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
	}

	.overlay-hugeinc.open .overlay-navigation ul {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}

	.overlay-hugeinc.close .overlay-navigation ul {
		-webkit-transform: translateY(25%) rotateX(-35deg);
		transform: translateY(25%) rotateX(-35deg);
	}

	.about_content--column{
		margin: 0;
		min-height: auto;
		padding: 8px;
	}
	.about_content {
		position: static;
		transform: none;
		text-align: center;
		margin-left: 40%;
	}
	.about_content>p {
		width: auto;
		max-width: 400px;
		margin: 0 auto;
		text-align: left;
	}

	.about_subtitle-bgcolor{
		/* margin-top: 20px; */
		margin: 20px auto auto 10px;
	}
	.about_objective-content{
		width: auto;
		max-width: 400px;
		margin: 0 auto;
		text-align: left;
		color: #2C2C2A;
	}
	.about_objective {
		background-image: url('../images/icons/objective-icon.svg');
		background-position: 105% 100%;
		background-repeat: no-repeat;
		background-size: contain;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: -15%;
		padding-bottom: 15%
	}

	.activities_carousel--indicator{
		margin: 0 7px !important;
		background-color: #fff !important;
		transition: .3s ease;
		height: 4px !important;
		cursor: pointer;
	}
	.activities_carousel--indicator.active{
		margin: 0 7px !important;
		background-color: #FFD558 !important;
		transform: scaleX(1.3);
	}

}
@media screen and (max-width: 576px) {
	.banner_brand-image {
		height: 40px;
	}
	.nav-scrolled .banner_brand-image{
		height: 40px;
	}
	.nav-scrolled {
		height: 66px;
	}
	.carousel {
		position: relative;
		height: auto;
	}
	.carousel-image{
		height: 400px;
	}
	/* .banner_navigation{
		position: relative;
		background: #2C2C2A;
	} */
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
	.carousel_arrow--left, .carousel_arrow--right{
		height: 30px;
	}
	.about_content{
		padding: 0 16px;
	}
	.about_content>p{
		text-align: justify;
	}
	.about_objective-content {
		text-align: justify;
	}
	.activities_carousel {
		height: 100vh;
	}
	.activities_carousel .carousel-inner {
		height: 100%;
	}
	.contact-us{
		background-image: none;
		text-align: center;
	}


}
@media screen and (max-width: 767px) {
	.about_subtitle {
		display: inline-block;
		margin: 0 auto;
	}
	.about_objective {
		background-image: none;
	}
	.about_content {
		margin-left: 0;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px){
	.carousel {
		position: relative;
		height: auto;
	}
	.carousel-image{
		height: 700px;
	}
	.activities_carousel .carousel-inner {
		height: 370px;
	}
	.contact-us{
		background-size: 40% ;
	}
}
@media screen and (min-width: 991px) {
	.about_objective .container {
		margin-top: -5%;
		margin-bottom: 5%;
	}
	/* .activities_carousel .carousel-indicators {
		overflow: auto;
		position: static;
		text-align: left;
		white-space: nowrap;
		width: 100%;
	} */
	.activities_carousel .carousel-indicators li {
		background-color: transparent;
		-webkit-border-radius: 0;
		border-radius: 0;
		display: inline-block;
		height: 30px;
		margin: 0 !important;
		/* width: max-content; */
		width: auto;
		position: relative;
	}
	.activities_carousel .carousel-indicators li svg {
		position: relative;
		display: block;
		height: 100%;
		fill: #2C2C2A;
	}

	.activities_carousel .carousel-indicators li.active::after {
		content: '';
		position: absolute;
		background: url('../images/icons/slider-plane.svg') 66px center no-repeat;
		background-size: contain;
		/* border: 1px solid white; */
		padding: 10px 0;
		margin: -10px 0;
		display: table;
		height: 160%;
		width: 100%;
		top: 0;
		left: -60px;
		color: white;
		animation: animatedBackground-1 .5s linear, opacity .5s ease;
		z-index: 999;

	}
	@keyframes animatedBackground-1 {
		from {
			background-position: 0 0;
			opacity: 0.6;
		}
		to {
			background-position: 66px center;
			opacity: 1;
		}
	}
	@keyframes animatedBackground-2 {
		from {
			background-position: 0 0;
			opacity: 0;
		}
		to {
			background-position: center center;
			opacity: 1;
		}
	}
	.activities_carousel .carousel-indicators li.active:nth-child(1)::after {
		content: '';
		background: url('../images/icons/slider-plane.svg') center center no-repeat;
		left: 0;
		animation: animatedBackground-2 .5s linear, opacity 1s ease;
	}
}




/*
@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
} */
